ul {
    list-style: none;
}

/* MAIN */
#main {
    min-height: 100vh;
    background-color: #000;
}

.career-body {
    background: #000;

}

.label-form {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.career-info {
    display: flex;
    padding: 40px 150px;
    justify-content: center;
    flex-flow: wrap;
    column-gap: 150px;
}

@media screen and (max-width: 1505px) {
    .career-info {
        text-align: center;
    }
}

.career-form input {
    width: 400px;
    border-radius: 5px;
    padding: 10px 7px;
    font-size: 16px;
    margin: 6px 0;
    box-sizing: border-box;
}

.career-form input[type="submit"] {
    width: 150px;
    align-self: center;
}

.career-form h2 {
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
}

.career-form form {
    display: flex;
    flex-direction: column;
}

.btn-upload {
    position: relative;
    width: 400px;
    font-size: 16px;
    margin: 6px 0;
    padding: 15px 15px;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    border: 0;
    transition: 0.2s;
    overflow: hidden;
}

.btn-upload input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    opacity: 0;
}

.btn-upload:hover {
    background-color: #b2afa9;
}

.jd-container {
    display: block;
    width: 600px;
    margin: 20px auto;
    font-size: 16px;
}

.jd-container ul {
    padding-left: 2rem;
    list-style-type: none;
}

.jd-container ul li {
    line-height: 1.5rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
}

.jd-container ul li img {
    display: inline;
    margin-right: 5px;
}

.jd-info {
    color: #fff;
    margin: 5px;
}

.lst-job {
    color:  white;
}

.lst-job h2 {
    margin: 30px auto;
    text-align: center;
    
}

.jd-card {
    margin: 30px 80px 30px 80px;
    padding: 15px 25px 15px 100px;
    background-color: #eb9400;
    border-radius: 5px;
    display: flex;
    font-size: 16px;
}

.jd-card:hover {
    background-color: #eb95009a;
}

.jd-col {
    flex: 70%;
}

.btn-col {
    flex: 30%;
    text-align: center;
    margin: auto;
}

.btn-col a {
    background-color: #000;
    padding: 8px;
    border-radius: 5px;
}

.btn-col a:hover{
    color: #EB9400;
    background-color: #fff;
}
.title-h4 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
}
.desc-job {
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

@media screen and (max-width: 720px) {
    .jd-container {
        width: fit-content;
    }

    .jd-card {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
        padding-left: 25px;
    }

    .jd-col {
        flex: 60%;
    }

    .btn-col {
        flex: 40%;
    }

    .btn-col a {
        padding: 4px;
    }
}

@media screen and (max-width: 550px) {

    .career-info {
        padding: 40px 10px;
    }

    .career-form form {
        align-items: center;
    }

    .career-form input {
        width: 250px;
    }

    .btn-upload {
        width: 250px;
    }
}

.error-message {
    color: red;
    text-align: center;
    font-size: medium;
}

.error-border  {
    border-style: solid;
    border-color: red;
}

.error-upload {
    border: 2px solid red;
}